.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--color-light-vanilla);
}

.title {
  font-size: var(--size-2);
  font-weight: var(--weight-medium);
}

.subtitle {
  font-size: var(--size-5);
  font-weight: var(--weight-normal);
}
