.title {
  font-size: var(--size-2);
  font-weight: var(--weight-bold);
}

.paragraph {
  margin-top: 1rem;
}

.table {
  width: 100%;
  margin-top: 2rem;
}

.table tr {
  border-bottom: 1px solid var(--color-grey-lightest);
}

.table tr th {
  font-weight: var(--weight-bold);
  font-size: var(--size-5);
  padding: 10px;
}

.table tr td {
  padding: 10px;
}

.jobTitle {
  color: var(--color-red);
  font-weight: var(--weight-medium);
}

.jobTitle:hover {
  color: var(--color-red-dark);
}

/* desktop */
@media screen and (min-width: 1024px) {
  .table {
    border-spacing: 20px;
  }
}
