.header {
  padding: 1rem 1.5rem;
}

/* desktop */
@media screen and (min-width: 1024px) {
  .header {
    padding: 2rem 3rem;
  }
}

.links {
  margin: 0;
  padding: 0;
}

.link {
  display: inline-block;
  margin-right: 1rem;
}
