.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 1.5rem;
  color: var(--color-white);
  background-color: var(--color-ash-darker);
}

.top {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  margin-top: 40px;
}

.OTLogo {
  max-width: 64px;
}

.socials {
  display: flex;
  flex-direction: column;
}

.moreLinks {
  display: flex;
  flex-direction: column;
}

.moreLinksHeader {
  font-size: var(--size-6);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.moreLink {
  text-decoration: none;
  color: var(--color-white);
}

.socialLogos {
  padding: 40px 0;
}

.socialLogo {
  opacity: 0.5;
}

.socialLogo:hover,
.socialLogo:active {
  opacity: 1;
}

/* desktop */
@media screen and (min-width: 1024px) {
  .footer {
    padding: 2rem 3rem;
  }

  .top {
    flex-direction: row;
  }

  .bottom {
    justify-content: center;
    margin-top: 10px;
  }

  .socials {
    padding-top: 6px;
    flex-direction: row;
  }

  .socialLogos {
    padding: 0 80px;
  }
}
