.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 1.5rem;
  color: var(--color-white);
  background-color: var(--color-ash-darker);
}

.container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.OTLogo {
  max-width: 64px;
}

.socials {
  display: flex;
  flex-direction: column;
}

.moreLinks {
  display: flex;
  flex-direction: column;
}

.moreLinksHeader {
  font-weight: var(--weight-bold);
  margin-bottom: 10px;
}

.moreLink {
  text-decoration: none;
  color: var(--color-white);
}

.socialLogos {
  padding: 40px 0;
}

/* desktop */
@media screen and (min-width: 1024px) {
  .footer {
    padding: 2rem 3rem;
  }

  .container {
    flex-direction: row;
  }

  .socials {
    padding-top: 6px;
    flex-direction: row;
  }

  .socialLogos {
    padding: 0 80px;
  }
}
