.content h2 {
  font-size: var(--size-4);
  font-weight: var(--weight-bold);
  margin: 20px 0;
}

.content h3 {
  font-size: var(--size-5);
  font-weight: var(--weight-medium);
  margin: 20px 0;
}

.content h5 {
  font-size: var(--size-6);
  font-weight: var(--weight-normal);
  margin: 20px 0;
}

.content p {
  font-size: var(--size-6);
  margin: 15px 0;
}

.content a {
  color: var(--color-red);
  font-weight: var(--weight-medium);
}

@media screen and (min-width: 1024px) {
  .content h2 {
    font-size: var(--size-2);
    line-height: 36px;
  }

  .content h3 {
    font-size: var(--size-4);
    line-height: 36px;
  }

  .content h5 {
    font-size: var(--size-5);
    line-height: 36px;
  }

  .content p {
    font-size: var(--size-5);
    line-height: 32px;
  }
}
