.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

/* --width-desktop + 2 * --width-gap */
@media screen and (min-width: 1024px) {
  .container {
    max-width: calc(var(--width-desktop) - 2 * var(--width-gap));
  }
}

/* --width-widescreen + 2 * --width-gap */
@media screen and (min-width: 1216px) {
  .container {
    max-width: calc(var(--width-widescreen) - 2 * var(--width-gap));
  }
}

/* --width-fullhd + 2 * --width-gap */
@media screen and (min-width: 1408px) {
  .container {
    max-width: calc(var(--width-fullhd) - 2 * var(--width-gap));
  }
}
