.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

/* desktop */
@media screen and (min-width: 1024px) {
  .container {
    max-width: calc(var(--width-desktop) - 2 * var(--width-gap));
  }
}

/* widescreen */
@media screen and (min-width: 1216px) {
  .container {
    max-width: calc(var(--width-widescreen) - 2 * var(--width-gap));
  }
}

/* fullhd */
@media screen and (min-width: 1408px) {
  .container {
    max-width: calc(var(--width-fullhd) - 2 * var(--width-gap));
  }
}

.section {
  padding: 3rem 1.5rem;
}

/* desktop */
@media screen and (min-width: 1024px) {
  .section {
    padding: 3rem 3rem;
  }
}
