:root {
  --color-black: hsl(0, 0%, 4%);
  --color-black-bis: hsl(0, 0%, 7%);
  --color-black-ter: hsl(0, 0%, 14%);
  --color-grey-darker: hsl(0, 0%, 21%);
  --color-grey-dark: hsl(0, 0%, 29%);
  --color-grey: hsl(0, 0%, 48%);
  --color-grey-light: hsl(0, 0%, 71%);
  --color-grey-lighter: hsl(0, 0%, 86%);
  --color-grey-lightest: hsl(0, 0%, 93%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-ter: hsl(0, 0%, 96%);
  --color-white-bis: hsl(0, 0%, 98%);
  --color-orange: hsl(14, 100%, 53%);
  --color-yellow: hsl(44, 100%, 77%);
  --color-green: hsl(153, 53%, 53%);
  --color-turquoise: hsl(171, 100%, 41%);
  --color-cyan: hsl(207, 61%, 53%);
  --color-blue: hsl(229, 53%, 53%);
  --color-purple: hsl(271, 100%, 71%);
  --color-red: hsl(348, 86%, 61%);
  --font-primary: "BrandonText", BlinkMacSystemFont, -apple-system, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-secondary: var(--font-primary);
  --font-code: monospace;
  --radius: 4px;
  --radius-large: 8px;
  --size-1: 3rem;
  --size-2: 2.5rem;
  --size-3: 2rem;
  --size-4: 1.5rem;
  --size-5: 1.25rem;
  --size-6: 1rem;
  --size-7: 0.75rem;
  --small-font-size: 0.875em;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --spacing-gap: 32px;
  --spacing-tablet: 769px;
  --spacing-desktop: calc(960px + 2 * var(--spacing-gap));
  --spacing-widescreen: calc(1152px + 2 * var(--spacing-gap));
  --base-font-size: 16px;
  --base-min-width: 300px;
  --base-background-color: var(--color-white);
  --base-line-height: 1.5;
  --base-weight: var(--weight-normal);
  --base-color: var(--text-dark);
  --size-small: var(--size-7);
  --size-normal: var(--size-6);
  --size-medium: var(--size-5);
  --size-large: var(--size-4);
  --link: var(--color-blue);
  --link-visited: var(--color-purple);
  --link-hover: var(--grey-darker);
  --link-hover-border: var(--grey-light);
  --link-focus: var(--grey-darker);
  --link-focus-border: var(--blue);
  --link-active: var(--grey-darker);
  --link-active-border: var(--grey-dark);
}
