:root {
  --color-black: #0a0a0a;
  --color-black-bis: #121212;
  --color-black-ter: #242424;
  --color-grey-darker: #363636;
  --color-grey-dark: #4a4a4a;
  --color-grey: #7a7a7a;
  --color-grey-light: #b5b5b5;
  --color-grey-lighter: #dbdbdb;
  --color-grey-lightest: #ededed;
  --color-white: #ffffff;
  --color-white-ter: #f5f5f5;
  --color-white-bis: #fafafa;
  --color-ash-lightest: #6f737b;
  --color-ash-lighter: #d8d9db;
  --color-ash-light: #91949a;
  --color-ash: #91949a;
  --color-ash-dark: #2d333f;
  --color-ash-darker: #141a26;
  --color-aqua: #18856b;
  --color-blue: #4a6fde;
  --color-fuchsia: #d82c82;
  --color-green: #2f864d;
  --color-purple: #ad4cc3;
  --color-red: #da3743;
  --color-red-dark: #931b23;
  --color-teal: #247f9e;
  --color-violet: #7f5ce8;
  --color-yellow: #d99502;
  --color-light-sky: #eef1fb;
  --color-light-vanilla: #fff8eb;
  --color-light-violet: #f8f0fa;
  --font-primary: "BrandonText", BlinkMacSystemFont, -apple-system, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-secondary: var(--font-primary);
  --font-code: monospace;
  --radius: 4px;
  --radius-large: 8px;
  --size-1: 3rem;
  --size-2: 2.5rem;
  --size-3: 2rem;
  --size-4: 1.5rem;
  --size-5: 1.25rem;
  --size-6: 1rem;
  --size-7: 0.75rem;
  --small-font-size: 0.875em;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --width-gap: 32px;
  --width-tablet: 769px;
  --width-desktop: calc(960px + 2 * var(--width-gap));
  --width-widescreen: calc(1152px + 2 * var(--width-gap));
  --width-fullhd: calc(1344px + 2 * var(--width-gap));
  --base-font-size: 16px;
  --base-min-width: 300px;
  --base-background-color: var(--color-white);
  --base-line-height: 1.5;
  --base-weight: var(--weight-normal);
  --base-color: var(--text-dark);
  --size-small: var(--size-7);
  --size-normal: var(--size-6);
  --size-medium: var(--size-5);
  --size-large: var(--size-4);
  --link: var(--color-blue);
  --link-visited: var(--color-purple);
  --link-hover: var(--grey-darker);
  --link-hover-border: var(--grey-light);
  --link-focus: var(--grey-darker);
  --link-focus-border: var(--blue);
  --link-active: var(--grey-darker);
  --link-active-border: var(--grey-dark);
}
