.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--color-light-sky);
}

.container {
  display: flex;
  align-items: center;
}

.details {
  flex: 1;
}

.postCategory {
  display: block;
  color: var(--color-red);
  font-size: var(--size-6);
  font-weight: var(--weight-medium);
  line-height: 1;
}

.postCategory:hover {
  color: var(--color-red);
}

.postTitle {
  font-size: var(--size-2);
  font-weight: var(--weight-bold);
  line-height: var(--subtitle-line-height);
  margin-top: 0.75rem;
}

.postDateAndReadingTime {
  display: block;
  font-weight: var(--weight-medium);
  display: flex;
  margin-top: 1rem;
  line-height: 1;
}

.postDate {
  margin-right: 1rem;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.authorImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.authorName {
  color: var(--color-ash-dark);
  font-size: var(--size-6);
  font-weight: var(--weight-medium);
  line-height: 1;
  margin-left: 1rem;
}

.postImage {
  display: none;
}

/* tablet */
@media screen and (min-width: 769px) {
  .postImage {
    display: flex;
    flex: 0 0 auto;
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 2rem;
  }
}

/* widescreen */
@media screen and (min-width: 1216px) {
  .postImage {
    width: 320px;
    height: 320px;
  }
}
